.main-container {
  background-color: #f3f3f3;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 40px;
  padding: 40px 300px;
  justify-content: center;
}
.card {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 8px 10px 10px #8f8f8f;
}
.card-image {
  overflow: hidden;
}
.card-image img {
  width: 90%;
  padding-top: 10px;
}
.card-content {
  padding: 10px 0;
}
a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 600px) {
  .main-container {
    grid-template-columns: repeat(2, auto);
    gap: 12px;
    padding: 20px 40px;
  }
  .card-content {
    font-size: 12px;
  }
}