ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #EE092D;
}
li {
  float: left;
}
li a {
  color: black;
  display: inline-block;
  padding: 14px 24px;
  text-align: center;
  text-decoration: none;
}
li a:hover {
  background-color: #f34f67;
}
.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  position: absolute;
  z-index: 1;
}
.dropdown-content a {
  display: block;
  padding: 14px 20px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.right {
  float: right;
}